<h1 style="text-align: center; padding-top: 2%;">Dragon Ball Z</h1>
<hr>
<div class="row">

    <div class="col">
        <!-- <h3>Personajes</h3>
        <hr>
        <ul *ngFor="let item of personajes">
            <li>{{item.nombre | titlecase}}</li>
            <li>{{item.poder}} </li>
        </ul> -->
        <app-personajes [personajes]="personajes"></app-personajes>
    </div>

    <div class="col">

        <app-agregar [personajes]="personajes" [nuevo]="nuevo"></app-agregar>

    </div>

</div>